.breadcrumbs {
	margin: 2em 0;
	font: {
		size: .75rem;
		weight: $font-weight-bold;
	}
	text-transform: uppercase;
	color: $gray-500;

	&._product-list {
		font: {
			family: $font-sub;
			size: 1.375rem;
			weight: $font-weight-light;
		}
		text-transform: none;
		color: darken($blue, 45%);

		> :last-child a {
			font-weight: $font-weight-extra-bold;
			color: $primary;
		}
	}

	.delimiter {
		margin: 0 .9em 0 .7em;
		font-size: 90%;
		vertical-align: top;
	}

	a {
		color: inherit;
	}
}