.calc {
	&-form {
		position: relative;
		padding: $grid-gutter-width * 1.3 $grid-gutter-width * 1.3 0;
		color: $white;
		border-radius: 1.5em;
		background: {
			color: $gray-900;
			repeat: no-repeat;
			position: 50% 50%;
			size: cover;
		}
		z-index: 1;

		&-item {
			@include media-breakpoint-up('md') {
				padding: 2em 0;
			}

			label {
				font: {
					size: 1.125rem;
					weight: $font-weight-bold;
				}
			}
		}

		&-qty {
			display: block;
			position: relative;
			width: 139px;
			margin-top: .4em;

			&-control {
				$padding-x: 1.2em;
				$padding-y: 0;

				width: 100%;
				height: auto;
				padding: {
					left: $padding-x;
					top: $padding-y;
					right: $padding-x;
					bottom: $padding-y;
				}
				font: {
					size: 2rem;
					weight: $font-weight-bold;
				}
				text-align: center;
				border-radius: 1.5rem;
				appearance: textfield;
			}

			&-toggle {
				$padding-y: .5em;

				position: absolute;
				top: 0em;
				font: {
					size: 2rem;
					weight: $font-weight-bold;
				}
				color: $gray-300;
				cursor: pointer;
				user-select: none;

				@include transition;

				&:hover {
					color: $gray-700;
				}

				&._minus {
					left: $padding-y;
				}

				&._plus {
					right: $padding-y;
				}
			}
		}

		&-total {
			font: {
				size: 1.25rem;
				weight: $font-weight-bold;
			}
			line-height: 1;

			&-v {
				font-size: 4.375rem;
			}
		}

		&-info {
			padding: .8em;
			font-size: 1.25rem;
			text-align: center;
			border: {
				width: 1px;
				style: dashed;
				color: $white;
				radius: 1.5rem;
			}

			@include media-breakpoint-down('sm') {
				margin: .5em 0;
			}
		}

		&-submit {
			text-align: center;

			.btn {
				margin-bottom: -1.8em;
			}
		}
	}

	&-info {
		position: relative;
		margin-top: -1.5em;
		padding: {
			left: $grid-gutter-width;
			top: 4em;
			right: $grid-gutter-width;
			bottom: $grid-gutter-width;
		}
		text-align: center;
		border-radius: 0 0 1.5rem 1.5rem;
		box-shadow: 0 30px 50px -30px rgba($black, .3);
		background-color: $gray-200;

		a {
			color: $primary;
			text-decoration: underline;
		}
	}
}